/* Global Styles */
html {
  font-size: 16px;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: #fffffc;
  margin: 0;
  padding: 0;
  position: relative;
}

nav h2 {
  color: #fff;
}
a {
  text-decoration: none;
}

a:visited {
  color: #001011;
}

a:hover {
  text-decoration: underline;
  color: #6ccff6;
}

a.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border: 2px solid #3498db;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

/* Hover state for the button */
a.button:hover {
  background-color: #2684d2;
  color: #fff;
}

/* Active (clicked) state for the button */
a.button:active {
  background-color: #1c6ea4;
  color: #fff;
}

/* Header Styles */
header {
  background-color: #3e3e3e;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Navigation Styles */
nav {
  background-color: #7c7c7c;
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

/* Main Content Styles */
main {
  padding: 5px;
}

/* Section Styles */
section {
  background-color: #f5f5f1;
  padding: 20px;
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
footer {
  background-color: #444;
  color: #fffffc;
  text-align: center;
  padding: 10px;
}

ul a {
  color: #0077cc;
}

ul li {
  margin-bottom: 10px;
}

ol {
  list-style: decimal;
}

img {
  max-width: 100%;
  height: auto;
}

.image-container {
  display: flex;
  padding: 0;
  margin: 0;
}

.image-container img {
  max-width: 100%;
  height: auto;
  margin: 2px;
}

.image-container .outlined-image {
  display: block;
  margin: 0 auto;
}

/* Style for the "Back to Top" link */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.back-to-top a {
  display: inline-block;
  padding: 10px;
  background-color: #7c7c7c;
  color: #fff;
  text-decoration: none;
}

.back-to-top a:hover {
  background-color: #3e3e3e;
}

.outline-text {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid #000;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #ffb6c1; /* Pastel Pink */
  color: #333; /* Dark Text Color */
}

.learn-progress {
  margin-left: 40px;
}

div {
  display: block;
}
.margin {
  background-color: #3498db;
  border: 2px solid #2980b9;
  padding: 20px;
  width: 50%;
  margin: auto;
}

/* Style the inner container */
.border {
  background-color: #001011;
  border: 2px solid #001011;
  padding: 20px;
  margin: 20px;
}

.padding {
  background-color: #fffffc;
  border: 2px solid #fffffc;
  padding: 20px;
  margin: 20px;
}

.content {
  background-color: #7c7c7c;
  border: 2px solid #7c7c7c;
  padding: 20px;
  margin: 20px;
}

main section form {
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style form elements as needed */
form label,
form input,
form textarea,
form select {
  margin-bottom: 10px;
  padding-left: 5px;
}
