/* main.css */

/* Global Styles */
html {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0077cc;
}

a:visited {
  color: #000000;
}

a:hover {
  text-decoration: underline;
  color: rgb(159, 229, 234);
}

/* Header Styles */
header {
  background-color: #3e3e3e;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Navigation Styles */
nav {
  background-color: #7c7c7c;
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

/* Main Content Styles */
main {
  padding: 5px;
}

/* Section Styles */
section {
  background-color: #fff;
  padding: 20px;
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
footer {
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Links Styles */
ul a {
  color: #0077cc;
}

/* List Item Styles */
ul li {
  margin-bottom: 10px;
}

/* Ordered List Styles */
ol {
  list-style: decimal;
}

/* Images Styles */
img {
  max-width: 100%;
  height: auto;
}

.image-container {
  display: flex;
  padding: 0;
  margin: 0;
}

.image-container img {
  max-width: 100%;
  height: auto;
  margin: 2px;
}

body {
  position: relative;
}

/* Style for the "Back to Top" link */
/* Style for the "Back to Top" link */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.back-to-top a {
  display: inline-block;
  padding: 10px;
  background-color: #7c7c7c;
  color: #fff;
  text-decoration: none;
}

.back-to-top a:hover {
  background-color: #3e3e3e;
}
/* Additional Styles for Specific Pages */
/* Add page-specific styles here */
